.pokeball-button {
  width: 72px;
  height: 72px;

  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  background: transparent;
  border: none;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  z-index: 1001;
}

.pokeball-button:hover {
  transform: translateX(-50%) translateY(-2px);
}

.pokeball-button img {
  object-fit: contain;
  display: block;
}

.pokeball-closed {
  width: 64px;
}

.pokeball-open {
  width: 72px;
}

.bottom-menu {
  position: fixed;
  left: 50%;
  bottom: 0;

  width: 100%;
  max-width: 1200px;
  height: 270px;

  transform: translate(-50%, 100%);

  background-color: var(--surface-background);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 20px;

  transition: transform 0.3s ease;

  z-index: 1000;
}

.bottom-menu .theme-toggle {
  position: absolute;
  right: 20px;
  bottom: 40px;
}

.bottom-menu.open {
  transform: translate(-50%, 0);
}

.menu-grid {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 12px;
}

.menu-grid a {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 60px;

  border: 4px solid var(--border-color);

  color: var(--text-color);
  background-color: transparent;
  text-decoration: none;
  text-align: center;

  font-size: 1.4rem;
  font-weight: bold;

  box-shadow: 4px 4px 0 #77767c;

  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    transform 0.2s ease;
}

.menu-grid a:hover {
  background-color: var(--hover-background);
  color: var(--hover-color);
  transform: translateY(-3px);
}

.menu-grid a.active {
  background-color: var(--app-background);
  color: var(--text-color);
  border-color: var(--app-background);
}

